h1{
    color: red;
}

table{
    border : 3px solid yellow;
    border-collapse: collapse;
    width: 70%;
    background-color: lightblue;
}

img{
    width: 100px;
}

td{
    border : 3px solid yellow;
    border-collapse: collapse;
}

td{
    border : 3px solid yellow;
    border-collapse: collapse;
}

.petitecolonne{
    width:10%;
}
.grandcolonne{
    width:35%;
}